body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #c3b9f2;
}

.font-headline {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  text-transform: uppercase;
}

.font-button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.font-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  width: 80vw;
  height: 70vh;
}

.project-sidebar {
  width: 315px;
  height: 100%;
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 78px 35px;
}

h1 {
  margin: 0;
}

.button-purple {
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #c3b9f2;
  border: none;
  margin-top: 36px;
}
