body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #c3b9f2;

  li {
    list-style: none;
  }
}

dialog {
  padding: 50px;
  text-align: center;
  border: none;
  border-radius: 30px;
  margin-top: 250px;

  p:first-child {
    font-size: 23px;
    font-weight: 700;
  }
}

.font-headline {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  text-transform: uppercase;
}

.font-button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.font-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  margin: 0;
}

.button {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button-purple {
  margin-top: 36px;
  background-color: #c3b9f2;
}

.button-green {
  background-color: #d9ddc1;
}

.button-black {
  background-color: black;
  color: white;
}

.button-transparant {
  background-color: transparent;
  border: black solid 1px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  width: 80vw;
  height: 90vh;
}

.project-sidebar {
  width: 315px;
  background-color: black;
  border-radius: 30px;
  color: white;
  padding: 78px 35px;

  .projects {
    padding: 0;
    margin-top: 38px;

    button {
      width: 100%;
    }
  }
}

.content {
  width: 70vw;
  background-color: #d9ddc1;
  margin-left: 20px;
  border-radius: 30px;
}

.no-project {
  text-align: center;

  .headline {
    margin-top: 128px;
  }
}

.new-project {
  padding: 67px 113px;

  .new-project-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 9px;
  }

  input {
    margin-bottom: 16px;
  }
}
